.task-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px auto;
}

.text-input {
  width: 85%;
  font-size: 2rem;
  min-height: 40px;
  overflow-wrap: anywhere;
}

.checkbox,
img {
  width: 40px;
  height: 40px;
  margin: 0 1%;
}
