body {
  font-size: 2rem;
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616435712_51-p-krasivii-nochnoi-fon-59.jpg);
  background-size: cover;
  color: #37fffa;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #9bf4ff;
  }
}
